NODE_ENV=development
# backend api url (for server-side requests)
# use 'http://localhost:3001' for local development
# use 'http://backend:3001' for docker (set in docker-compose.yml)
BACKEND_URL=http://localhost:3001
# public backend url (for client-side requests)
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
